In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import re
import joblib
import string

In [17]:
import pandas as pd

# Load the Fake CSV data
fake = pd.read_csv('Fake.csv')

# Load the True CSV data
true = pd.read_csv('True.csv')

In [18]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [19]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [20]:
fake['class']=0
true['class']=1

In [23]:
data = pd.concat([fake,true], axis = 0)

In [26]:
data.sample(10)

,title,text,subject,date,class
632,Elderly California Man Just Savaged A GOP Con...,Republican Rep. Doug LaMalfa (CA) did not have...,News,"August 8, 2017",0
5294,WATCH: Obama CRUSHES Trump With Two Words In ...,President Barack Obama brought down the house ...,News,"July 28, 2016",0
17104,[VIDEO] FLASHBACK TO THE LIE ABOUT THE VIDEO O...,"#NeverForget Sean Smith, Tyrone Woods, Chris D...",Government News,"Sep 11, 2015",0
21156,U.S.-led coalition says still monitoring IS co...,BEIRUT (Reuters) - A convoy of Islamic State f...,worldnews,"September 1, 2017",1
18863,Avocet's convoy in Burkina Faso strikes landmi...,OUAGADOUGOU (Reuters) - Two paramilitary polic...,worldnews,"September 27, 2017",1
9245,Trump lawyers channel Obama in court filing,NEW YORK (Reuters) - When lawyers for Donald T...,politicsNews,"June 8, 2016",1
4852,FBI Finds Evidence That Foreign Hackers Infil...,"Another day, another foreign hack into America...",News,"August 29, 2016",0
3216,U.S. weighs sanctions on countries doing busin...,WASHINGTON (Reuters) - The United States is we...,politicsNews,"June 13, 2017",1
12808,Peru's Kuczynski says graft probe went too far...,LIMA (Reuters) - Peruvian President Pedro Pabl...,worldnews,"December 7, 2017",1
12658,ANTI-HILLARY POSTERS POP UP All Over Hollywood...,The first time I heard Negan ask for 50 perc...,politics,"Oct 22, 2016",0

In [27]:
data = data.drop(["title", "subject", "date"], axis = 1)

In [28]:
data.reset_index(inplace=True)

In [29]:
data.drop(['index'], axis = 1, inplace=True)

In [30]:
data.sample(5)

                                                    text  class
28898  WASHINGTON/BERLIN (Reuters) - U.S. Vice Presid...      1
33850  BRUSSELS (Reuters) - Europe’s emerging migrati...      1
2098   If you haven t heard, the Trump administration...      0
35349  BRUSSELS (Reuters) - Austria s new chancellor ...      1
37147  MOSCOW (Reuters) - A colleague of Katerina Tik...      1

In [32]:
def clean_text(text):
    text = text.lower()
    text = re.sub('\[.*?\]',"", text)
    text = re.sub("\\W"," ",text)
    text = re.sub("https?:://\S+/www\.\S+","", text)
    text = re.sub("<.*?>+","", text)
    text = re.sub("[%s]" % re.escape(string.punctuation),"", text)
    text = re.sub("\n", "", text)
    text = re.sub("\w*\d\w*","", text)
    return text

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
C:\Users\wakch\AppData\Local\Temp\ipykernel_5004\2594068591.py:3: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]',"", text)
C:\Users\wakch\AppData\Local\Temp\ipykernel_5004\2594068591.py:5: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub("https?:://\S+/www\.\S+","", text)
C:\Users\wakch\AppData\Local\Temp\ipykernel_5004\2594068591.py:9: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub("\w*\d\w*","", text)

In [34]:
data["text"] = data["text"].apply(clean_text)

In [37]:
x=data["text"]
y=data["class"]
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=42)